h1 {font-family: tahoma, helvetica, sans-serif; font-size: 20pt; position: absolute; width: 30px; height: 10px; margin-top: 10px;}
em {font-weight: bold;
	color: blue; font-size: 16px;}
h1, em {font-weight: bold;
	color: yellow; font-size: 16px; left: 10px; right: 10px; top: 10px; bottom: 10px;}
p {font-size: 110%; text-align:center; padding-top: 40px;}
body {background-image: url(kaczka.jpg);
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-color: lightgrey;
	  text-align:center;}

td.thickBorder {
    border-width: thick;
}
td.dashedBorder {
    border-style: dashed;
}
td.redBorder {
    border-color: red;
}

@media screen and (max-width: 1000px) {
    body {
        background-color: red;
    }
}

@media print
{
	body
		{
			background-color: white;
			font-size: 200%;
		}
}

nav {
    text-align: center;
}

nav ul {
    background: #aaaaaa;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-block;
}

nav ul ul {
    background: #bbbbbb;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
		display: none;
}

nav ul ul ul {
    background: #cccccc;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
		display: none;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background: #eeeeee;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li:hover a {
    color: #333;
}

nav ul li a {
    display: block;
    padding: 10 10px;
    color: #757575;
    text-decoration: none;
}

nav ul ul li {
    float: none;
    border-bottom: 1px solid #aaaaaa;
    position: relative;
}

nav ul ul li a {
    padding: 5px 5px;
    color: #333;
}

nav ul ul li a:hover {
    background: #dddddd;
}
